# nodejs express and socket.io
Ex4.1/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/lib/index.js
Ex4.1/node_modules/*
# Unzipped file
GalleryRemote_Skeleton/*
# Visual Studio files
.vscode/*
*.db-shm
*.VC.db
*.db-wal
.vscode/launch.json
# KDiff3 files
*.orig

Ex4.1/.vscode/launch.json
